@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    font-family: var(--fonte2);
    text-align: center;
}

header > h1 {
    font-size: 10vh;
    padding-top: 50px;
    font-weight: bolder;
    font-variant: small-caps;
}

header > p {
    font-size: 3vh;
    padding-bottom: 50px;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

nav {
    background-color: black;
    padding-left: 30px;
    padding-bottom: 20px;
}

nav > a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

nav > a:hover {
    color: gray;
}

section {
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vh;
}

section > p {
    padding: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(53, 53, 53);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.466);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.425);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img1 {
    background-image: url('../imagens-cordel/background001.jpg');
    background-position: right center;
}

section#img2 {
    background-image: url('../imagens-cordel/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}