body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.322) 5px 5px 10px;
}

input#botao {
    padding: 10px;
    width: 150px;
    border-radius: 6px;
    border: 0.3px black solid;
    font-size: 15px;
}

input#botao:hover {
    cursor: pointer;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 550px) {
    section {
        width: 450px;
    }

    header h1 {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 450px) {
    section {
        width: 350px;
    }

    header h1 {
        font-size: 1.7em;
    }
}